html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(4,115,191,1) 51%, rgba(0,212,255,1) 100%);
}

.name {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2px;
}
