/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.body{
    background-image: url('./components/Imagenes/background.jpg');
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.tarjeta{
  max-width: 150px;
}

